<div class="blogo-hextra-footer">
  <div class="blogo-hextra-footer-top">
    <div class="blogo-hextra-footer-brand">{{ T "blogo_footer_brand" }}</div>
    <nav class="blogo-hextra-footer-nav">
      <a href="/">{{ T "blogo_footer_home" }}</a>
      <a href="/docs/">{{ T "blogo_footer_docs" }}</a>
      <a href="/disclaimer/">{{ T "blogo_footer_disclaimer" }}</a>
      <a href="https://github.com/1000ttank/blog-cms" target="_blank" rel="noopener noreferrer">{{ T "blogo_btn_github" }}</a>
    </nav>
  </div>
</div>
